@import "variables";

.topbar {
  background: $colorMenubar;
  border-bottom: 2px $colorBorder solid;
  flex-grow: 0;
  padding: 0.5em 0;
  overflow: hidden;
  padding-left: 0.5em;
}

.button {
  background: $colorAccentDarker;
  padding: 0.5em 1em;
  text-decoration: none;
  color: $colorText;
  display: flex;
  vertical-align: middle;
  float: left;
  margin-right: 0.5em;
}

.button:hover {
  background: $colorAccent;
}

.button:active {
  background: $colorItem;
}

.right {
  float: right;
}

.hscreen {
  /* width: 100vw; */
  /* height: calc(100vh - 2em); */
  /* height: 100%; */
  padding: 0;
  margin: 0;
  /* flex-grow: 1; */
}

.container {
  display: block;
  width: 100vw;
  height: calc(100vh - 30px - 38px - (2 * 0.5em) - 2px);
  /* background-color: var(--background); */
  background-color: $colorText;
  /* flex-direction: column; */
}

.glComponent {
  background: $colorBackground;
}

.test-component {
  overflow: hidden;
  background: $colorBackground;
}

.editor-menu .enum {
  margin-top: 0.1em;
  border: solid white 1px;
  border-radius: 2px;
  color: white;
  background: $colorBackground;
  padding: 4px;
  margin-right: 5px;
}

.editor-menu span {
  color: white;
}

.editor-menu input[type="number"] {
  /* //color: white; */
  margin: 5px;
  border: solid white 1px;
  border-radius: 2px;
  line-height: 1.5em;
  width: 3em;
  padding: 0 5px;
}

.enum {
  outline: 0;
  box-shadow: none;
  border: 0 !important;

  margin-top: 0.4em;
  border: none;
  border-radius: 4px;
  color: white;
  background: $colorBackground;
  padding: 0.5em;
  font-family: "Open Sans";
}

.app-system-bar {
  -webkit-app-region: drag !important;
}

.system-bar-button {
  -webkit-app-region: no-drag;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 256px);
  justify-content: space-between;
}