@import "variables";
@import "~@fontsource/roboto/index.css";

.v-navigation-drawer__content{
  overflow-y: hidden !important;
}

html{
  overflow: hidden !important;
}

body {
  overflow: hidden !important;
  padding: 0;
  margin: 0;
}

.header {
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}

.container-after-titlebar {
  overflow: hidden !important; // custom-electron-titlebar possible bug!
}

.titlebar {
  background: $colorTitle;
}

.lm_root {
  background: $colorItem;
}

.lm_splitter {
  background: $colorBorder;
}

.lm_header {
  background: $colorMenubar;
}

.lm_tab {
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  background: $colorItem !important;
  box-shadow: none;
  border: none !important;
  height: 24px !important;
  line-height: 24px;
  font-weight: bold;
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

.lm_active {
  box-shadow: none;
  border: none !important;
  background: $colorSelected !important;
}

.lm-content {
  border: $colorBorder;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}
